body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column; /* Adicionado para flexbox */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ajuste para garantir que o conteúdo ocupe a altura total da visualização */
}

.header {
  width: 100%;
  background-color: rgba(100, 0, 231, 0.7);
  color: #f1f1f1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.nav-button {
  background: #660ab1;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background: #660ab1;
}

.container {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(100, 0, 231, 0.7);
  margin-top: 60px; /* Ajuste para não sobrepor o header fixo */
  flex: 1; /* Faz a div container crescer para ocupar o espaço disponível */
}

h1 {
  text-align: center;
}

#listaClientes {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#listaClientes th,
#listaClientes td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#listaClientes th {
  background-color: #660ab1;
  color: #fff;
}

#listaClientes tr:hover {
  background-color: #f2f2f2;
}

#listaClientes button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #660ab1;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#listaClientes button:hover {
  background-color: #0056b3;
}

.progresso {
  height: 20px; /* Defina a altura desejada para a barra de progresso */
  border-radius: 5px; /* Adicione bordas arredondadas para uma aparência mais suave */
  width: 50%; /* Define a largura da barra de progresso */
  background-color: green; /* Define a cor de fundo da barra de progresso */
}

footer {
  background-color: #660ab1;
  padding: 10px;
  text-align: center;
  color: white;
  position: fixed; /* Adiciona o footer fixo no rodapé */
  bottom: 0; /* Posiciona no fundo da página */
  width: 100%; /* Garante que o footer ocupe toda a largura da página */
}

footer p {
  margin: 0;
  text-align: center;
}

footer a img {
  margin-left: 5px;
  vertical-align: middle;
}

